body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  line-height: 1.6;
  color: #111;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

